
.bold {
    font-weight: 700;
}
a{
    text-decoration: none;
    color:#fff;
    background-color: transparent;
}
a:-webkit-any-link {
    color: white;
    cursor: pointer;
}
h2{
    margin-bottom:1rem;
    font-size: 2rem;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
