.carousel-item{
    height: 40rem;
    background: #777;
    color: white;
    position:relative;
    background-position: center;
    background-size: cover;

  }
  .event-container{
    height: 400px;
    width: 800px;
    background-color: #1c1c1c;
    margin: 75px auto 0;
  }
  .carousel-indicators [data-bs-target] {
    position: relative;
    width: 60px;
    height: 6px;
    border: none;
    border-radius: 24px;
  }
   
  .carousel-indicators [data-bs-target] span {
    content: ’’;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #7952b3;
    border-radius: inherit;
  }